html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.board {
  float: left;
  margin-bottom: 10%;
}

.game-table {
  width: initial;
  background-color: #cfe2ff;
  border: 5px solid black;
}

.game-table-cell {
/*  width: 50px;
  height: 50px;*/
  width: 5%;
}

.game-table-cell-black {
  background-color: black !important;
}

.game-table-cell-white {
  background-color: white !important;
}

.game-table-cell-white-checker {
  background-color: yellow !important;
}

.game-table-cell-black-checker {
  background-color: red !important;
}

.checker {
  width: 29px;
  height: 29px;

  border-radius: 50%;
  position: absolute;
}

.red-checker {
  border: 5px solid red;
  /*background-color: red;*/
}

.white-checker {
  border: 5px solid white;
  /*background-color: white;*/
}

.possible-checker {
  background-color: gray;
}

.red-king {
  background-color: darkred;
  border: 5px solid red;
}

.white-king {
  background-color: white;
  border: 5px cyan ;
}

.scroll-bg {
  background-color: #20c997;
  width: 400px;
  padding-top: 30px;
  border-radius: 20px;
  float: left;
  margin: 10% auto 10% 10%;
}

tr {
  height: 50px;
}

.scroll-div {
  width: 400px;
  background-color: #20c997;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.scroll-object {
  color: black;
  padding: 20px;
}

.text-inside-logger {
  margin-bottom: 10px;
}

.numbers {
  float: left;
  padding-top: 50px;
}

.number {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.letter {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}


