@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Checkers</h1>
    <div>
        <a asp-page="CheckersGames/Create">Start a new Game</a>
        <a asp-page="CheckersGames/Index">List games</a>
    </div>
</div>